<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859583824396-shqmul1q4clr8aj8sib0dqipln5ncq6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859583824396-shqmul1q4clr8aj8sib0dqipln5ncq6t</string>
	<key>API_KEY</key>
	<string>AIzaSyAARPRkC7Rm7Y7vsawd9CLMRLFO8ZEj40Q</string>
	<key>GCM_SENDER_ID</key>
	<string>859583824396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LPDW.WhoisHere</string>
	<key>PROJECT_ID</key>
	<string>whoishere-53325</string>
	<key>STORAGE_BUCKET</key>
	<string>whoishere-53325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859583824396:ios:33eac16a1134747a202429</string>
	<key>DATABASE_URL</key>
	<string>https://whoishere-53325.firebaseio.com</string>
</dict>
</plist>